<div id="content">
	<div class="wrap">
		<h1>Educational Resources</h1>
		<br/>
		<hr/>
		<h2>American Congress Digital Archives Portal Scavenger Hunt</h2>
		<hr/>

		<p>This scavenger hunt aims to introduce students to the American Congress Digital Archives Portal. There are two versions of the scavenger hunt available: an accessible version using Microsoft Word and a Google Forms version, in addition to an accessible Teacher Guide in Microsoft Word.
If using the Google Forms version, students will be prompted to make a copy of the scavenger hunt using Google Forms. The first section will “train” participants on how the site is structured, the second section will ask participants to apply what they have learned, and the third will challenge students to use the portal independently.  
  
Enjoy exploring our archives and learning the skills of practicing historians and archivists! 
		</p>

		<h3>ACDAP Scavenger Hunt (Grades 9-12)</h3>
		<hr />

	<section class="static-cards-1 my-5">
		<div class="container" style="padding-left: 0px;">
			<div class="row g-4 justify-content-start">
			
			<!-- Card 1 -->
			<div class="col-12 col-md-4 col-lg-3">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm h-100" do %>
				<%= image_tag 'carousel/slide1.jpg', class: 'card-img-top', alt: 'Card 1' %>
				<div class="card-body">
					<h3 class="card-title">Card Title</h3>
					<p class="card-text">Card description text goes here.</p>
				</div>
				<% end %>
			</div>

			<!-- Card 2 -->
			<div class="col-12 col-md-4 col-lg-3">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm h-100" do %>
				<%= image_tag 'carousel/slide2.jpg', class: 'card-img-top', alt: 'Card 2' %>
				<div class="card-body">
					<h3 class="card-title">Card Title</h3>
					<p class="card-text">Card description text goes here.</p>
				</div>
				<% end %>
			</div>

			<!-- Card 3 -->
			<div class="col-12 col-md-4 col-lg-3">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm h-100" do %>
				<%= image_tag 'carousel/slide3.jpg', class: 'card-img-top', alt: 'Card 3' %>
				<div class="card-body">
					<h3 class="card-title">Card Title</h3>
					<p class="card-text">Card description text goes here.</p>
				</div>
				<% end %>
			</div>

			</div>
		</div>
	</section>
		<p><a href="/downloads/Teacher%20Guide_%20Grade%209-12%20Scavenger%20Hunt.docx" download>Teacher Guide (Microsoft Word)</a></p>
		<p><a href="https://docs.google.com/forms/d/1XM0FRmtxad5mQe6SRNXl4TFWjxkvs4g0NR1Bxrl49dc/copy" target="_blank" rel="noopener">Scavenger Hunt (Google Forms; non-accessible)</a></p>
		<p><a href="/downloads/ACDAP%209-12%20Scavenger%20Hunt.docx" download>Scavenger Hunt (Simple Microsoft Word version; accessible)</a></p>
	<br />

	<h3>ACDAP Scavenger Hunt (Grades 6-8)</h3>
	<hr />

	<section class="static-cards-2 my-5">
		<div class="container" style="padding-left: 0px;">
			<div class="row g-4 justify-content-start">
			
			<!-- Card 1 -->
			<div class="col-12 col-md-4 col-lg-3">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm h-100" do %>
				<%= image_tag 'carousel/slide1.jpg', class: 'card-img-top', alt: 'Card 1' %>
				<div class="card-body">
					<h3 class="card-title">Card Title</h3>
					<p class="card-text">Card description text goes here.</p>
				</div>
				<% end %>
			</div>

			<!-- Card 2 -->
			<div class="col-12 col-md-4 col-lg-3">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm h-100" do %>
				<%= image_tag 'carousel/slide2.jpg', class: 'card-img-top', alt: 'Card 2' %>
				<div class="card-body">
					<h3 class="card-title">Card Title</h3>
					<p class="card-text">Card description text goes here.</p>
				</div>
				<% end %>
			</div>

			<!-- Card 3 -->
			<div class="col-12 col-md-4 col-lg-3">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm h-100" do %>
				<%= image_tag 'carousel/slide3.jpg', class: 'card-img-top', alt: 'Card 3' %>
				<div class="card-body">
					<h3 class="card-title">Card Title</h3>
					<p class="card-text">Card description text goes here.</p>
				</div>
				<% end %>
			</div>

			</div>
		</div>
	</section>
		<p><a href="/downloads/Teacher%20Guide_%20Grade%206-8%20Scavenger%20Hunt.docx" download>Teacher Guide (Microsoft Word)</a></p>
		<p><a href="https://docs.google.com/forms/d/1VMk8hnM8Zm2rZ5R9Wdfpm8DhS86MwJQT4T_mQ0YCRDE/copy" target="_blank" rel="noopener">Scavenger Hunt (Google Forms; non-accessible)</a></p>
		<p><a href="/downloads/ACDAP%206-8%20Scavenger%20Hunt%20(Accessible).docx" download>Scavenger Hunt (Simple Microsoft Word version; accessible)</a></p>
	<br/>

	<h2>Lesson Plans</h2>
	<hr/>
	<p>Designed as Inquiry Design Model Lessons (IDM), the lessons featured here are centered around a compelling question and three supporting questions. The goal is for students to use the knowledge gained from
engaging in each formative task and answering each supporting question to ultimately create an argument that addresses the compelling question. Ideally, students will also have the opportunity to take informed
action and apply their knowledge to their modern contexts.</p>

	<section class="static-cards-3 my-5">
		<div class="container" style="padding-left: 0px;">
			<div class="row g-4 justify-content-start">
			
			<!-- Card 1 -->
			<div class="col-12 col-md-4 col-lg-3">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm h-100" do %>
				<%= image_tag 'carousel/slide1.jpg', class: 'card-img-top', alt: 'Card 1' %>
				<div class="card-body">
					<h3 class="card-title">Card Title</h3>
					<p class="card-text">Card description text goes here.</p>
				</div>
				<% end %>
			</div>

			<!-- Card 2 -->
			<div class="col-12 col-md-4 col-lg-3">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm h-100" do %>
				<%= image_tag 'carousel/slide2.jpg', class: 'card-img-top', alt: 'Card 2' %>
				<div class="card-body">
					<h3 class="card-title">Card Title</h3>
					<p class="card-text">Card description text goes here.</p>
				</div>
				<% end %>
			</div>

			</div>
		</div>
	</section>
	</div>	
</div>