<div id="content">
	<div class="wrap">
		<h1>Educational Resources</h1>
		<br/>
		<hr/>
		<h2>American Congress Digital Archives Portal Scavenger Hunt</h2>
		<hr/>

		<p>This scavenger hunt aims to introduce students to the American Congress Digital Archives Portal. There are two versions of the scavenger hunt available: an accessible version using Microsoft Word and a Google Forms version, in addition to an accessible Teacher Guide in Microsoft Word.
If using the Google Forms version, students will be prompted to make a copy of the scavenger hunt using Google Forms. The first section will “train” participants on how the site is structured, the second section will ask participants to apply what they have learned, and the third will challenge students to use the portal independently.  
  
Enjoy exploring our archives and learning the skills of practicing historians and archivists! 
		</p>

		<h3>ACDAP Scavenger Hunt (Grades 9-12)</h3>
		<hr />

	<section class="static-cards-1 my-5">
		<div class="container" style="padding-left: 0px;">
			<div class="row g-4 justify-content-start">
			
			<!-- Card 1 -->
			<div class="col-12 col-md-4 col-lg-4">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm", style: "height: 400px;" do %>
				<%= image_tag 'cards/Teacher_Guide.jpg', class: 'card-img-top', alt: 'Card 1' %>
				<div class="card-body">
					<h4 class="card-title">Teacher Guide</h4>
					<p class="card-text">Welcome to the American Congress Digital Archives
Portal (ACDAP) scavenger hunt. We are thrilled you've chosen to introduce your students to the portal and guide them in learning how to find and
use the materials we have.</p>
				</div>
				<% end %>
			</div>

			<!-- Card 2 -->
			<div class="col-12 col-md-4 col-lg-4">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm", style: "height: 400px;" do %>
				<%= image_tag 'cards/SH_Accessible.jpg', class: 'card-img-top', alt: 'Card 2' %>
				<div class="card-body">
					<h4 class="card-title">Scavenger Hunt, Accessible Version</h4>
					<p class="card-text">This scavenger hunt aims to introduce students to
the ACDAP. The first section will “train” students on
how the site is structured, the second section will
ask students to apply what they have learned, and
the third will challenge them to use the portal
independently. This accessible version is presented
in Microsoft Word.</p>
				</div>
				<% end %>
			</div>

			<!-- Card 3 -->
			<div class="col-12 col-md-4 col-lg-4">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm", style: "height: 400px;" do %>
				<%= image_tag 'cards/SH_Google_Docs.jpg', class: 'card-img-top', alt: 'Card 3' %>
				<div class="card-body">
					<h4 class="card-title">Scavenger Hunt, Google Docs Version </h4>
					<p class="card-text">This scavenger hunt aims to introduce students to
the ACDAP. The first section will “train” students on
how the site is structured, the second section will
ask students to apply what they have learned, and
the third will challenge them to use the portal
independently. This version is presented in Google
Docs.</p>
				</div>
				<% end %>
			</div>

			</div>
		</div>
	</section>
		
	<br />

	<h3>ACDAP Scavenger Hunt (Grades 6-8)</h3>
	<hr />

	<section class="static-cards-2 my-5">
		<div class="container" style="padding-left: 0px;">
			<div class="row g-4 justify-content-start">
			
			<!-- Card 1 -->
			<div class="col-12 col-md-4 col-lg-4">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm", style: "height: 400px;" do %>
				<%= image_tag 'cards/Teacher_Guide.jpg', class: 'card-img-top', alt: 'Card 1' %>
				<div class="card-body">
					<h4 class="card-title">Teacher Guide </h4>
					<p class="card-text">Welcome to the American Congress Digital Archives
Portal (ACDAP) scavenger hunt. We are thrilled
you've chosen to introduce your students to the
portal and guide them in learning how to find and
use the materials we have.</p>
				</div>
				<% end %>
			</div>

			<!-- Card 2 -->
			<div class="col-12 col-md-4 col-lg-4">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm", style: "height: 400px;" do %>
				<%= image_tag 'cards/SH_Accessible.jpg', class: 'card-img-top', alt: 'Card 2' %>
				<div class="card-body">
					<h4 class="card-title">Scavenger Hunt, Accessible Version </h4>
					<p class="card-text">This scavenger hunt aims to introduce students to
the ACDAP. The first section will “train” students on
how the site is structured, the second section will
ask students to apply what they have learned, and
the third will challenge them to use the portal
independently. This accessible version is presented
in Microsoft Word.</p>
				</div>
				<% end %>
			</div>

			<!-- Card 3 -->
			<div class="col-12 col-md-4 col-lg-4">
				<%= link_to 'https://congressarchivesdev.lib.wvu.edu/about', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm", style: "height: 400px;" do %>
				<%= image_tag 'cards/SH_Google_Docs.jpg', class: 'card-img-top', alt: 'Card 3' %>
				<div class="card-body">
					<h4 class="card-title">Scavenger Hunt, Google Docs Version </h4>
					<p class="card-text">This scavenger hunt aims to introduce students to
the ACDAP. The first section will “train” students on
how the site is structured, the second section will
ask students to apply what they have learned, and
the third will challenge them to use the portal
independently. This version is presented in Google
Docs.</p>
				</div>
				<% end %>
			</div>

			</div>
		</div>
	</section>
		<br/>

	<h2>Lesson Plans</h2>
	<hr/>
	<p>Designed as Inquiry Design Model Lessons (IDM), the lessons featured here are centered around a compelling question and three supporting questions. The goal is for students to use the knowledge gained from
engaging in each formative task and answering each supporting question to ultimately create an argument that addresses the compelling question. Ideally, students will also have the opportunity to take informed
action and apply their knowledge to their modern contexts.</p>

	<section class="static-cards-3 my-5">
		<div class="container" style="padding-left: 0px;">
			<div class="row g-4 justify-content-start">
			
			<!-- Card 1 -->
			<div class="col-12 col-md-4 col-lg-4">
				<%= link_to '/downloads/High%20School%20Post%20WWII%20World%20Order.pdf', target: '_blank', rel: 'noopener', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm", style: "height: 400px;" do %>
				<%= image_tag 'carousel/slide1.jpg', class: 'card-img-top', alt: 'Card 1' %>
				<div class="card-body">
					<h4 class="card-title">High School, Post WWII World Order</h4>
					<p class="card-text">Designed as an Inquiry Design Model, this lesson
explores the post-war dynamics between the United
States and the Soviet Union following the Second
World War, focusing specifically on the 1950s. The
sources selected for this lesson were collected with
high-school learners in mind.</p>
				</div>
				<% end %>
			</div>

			<!-- Card 2 -->
			<div class="col-12 col-md-4 col-lg-4">
				<%= link_to '/downloads/Middle%20School%20Civil%20Rights.pdf', target: '_blank', rel: 'noopener', class: "card carousel-card d-block text-reset text-decoration-none shadow-sm", style: "height: 400px;" do %>
				<%= image_tag 'carousel/slide2.jpg', class: 'card-img-top', alt: 'Card 2' %>
				<div class="card-body">
					<h4 class="card-title">Middle School, Civil Rights</h4>
					<p class="card-text">Designed as an Inquiry Design Model, this lesson
will help students to understand that the desire to
increase civil rights for Americans has occurred
across American history and is not only tied to the
national fight for rights during the 1950s and 1960s.
The sources selected for this lesson were collected
with middle-grade learners in mind.</p>
				</div>
				<% end %>
			</div>

			</div>
		</div>
	</section>
	</div>	
</div>