<% if params[:q].blank? && params[:f].blank? && params[:range].blank? %>
  <!-- HOMEPAGE MODE (no query/filters): full-width landing -->
  <div id="content" class="col-12">
    <%= render 'landing' %>
  </div>
<% else %>
  <!-- SEARCH MODE (existing layout): sidebar + results -->
  <div id="sidebar" class="col-sm-12 col-md-4 col-lg-3">
    <%= render 'search_sidebar' %>
  </div>

  <div id="content" class="col-sm-12 col-md-8 col-lg-9">
    <%= render 'search_results_header' %>
    <%= render 'constraints' %>
    <%= render catalog_page_render %>
  </div>
<% end %>
