<div id="content">
	<div class="wrap">
		<h2>Partners</h2>
		<hr />

		<ul>
			<li>
				<%= image_tag("wvu_libraries.png", alt: "WVULibraries", title: "WVU Libraries", style: "max-width: 450px") %>
				<p><br>The Modern Congressional and Political Papers Collection at the West Virginia University Libraries' West Virginia & Regional History Center focuses primarily on documentation of national and state policy and politics since about World War II to the present. This includes documentation of the modern U.S. Congress, the policy process, and the political landscape at the state and national levels. The unit collects, preserves, and makes available the papers of members of Congress, political parties, and state and local political actors. Strengths of the collecting area include the papers of Senator John D. (Jay) Rockefeller IV, Congressman Nick Joe Rahall II, Congressman Harley O. Staggers Sr., Senator Matthew Mansfield Neely, Senator Harley Martin Kilgore, and Congressman and Governor Arch A. Moore Jr. </p>
			</li>
			<br>
			<li>
				<%= image_tag("dole.png", alt: "Dole Institute", title: "Dole Institute", style: "max-width: 500px") %>
				<p><br>The Robert J. Dole Institute of Politics at the University of Kansas is a vibrant forum for civil discourse, civic engagement, and idea exchange across the political spectrum, and features historical archives, exhibits, and public programs for all ages. The Institute is inspired by the public service of native Kansan, veteran, legislator, and statesman Senator Bob Dole, and is home to the career papers of both Senators Bob and Elizabeth Dole.</p>
				<p>The Robert & Elizabeth Dole Archives & Special Collections is the official repository for the personal papers of former U.S. Senators Bob and Elizabeth Dole. In addition to significant national and international events, the collections provide a window into the inner workings of congressional leadership, the U.S. government, and policy development in wide-ranging areas like disability rights, agriculture, nutrition, veterans, U.S. foreign policy, transportation safety, and labor policy. </p>
			
			</li>
			<br>
			<li>
				<%= image_tag("rcb_center.jpg", alt: "ByrdCenter", title: "ByrdCenter", style: "max-width: 450px") %>
				<p><br>The Robert C. Byrd Center for Congressional History and Education advances representative democracy by promoting a better understanding of the United States Congress and Constitution through programs and research that engage citizens. Established in 2002, the center preserves the papers of Senator Robert C. Byrd and Representatives Harley O. Staggers, Sr., Harley O. Staggers, Jr., Robert H. Mollohan, and Alan B. Mollohan, all of whom represented the state of West Virginia in the United States Congress between 1949 and 2011. In addition to hosting scholars and researchers, the center utilizes these collections to develop civics education resources and conducts teacher training.</p>
			</li>
			<br>
			<li>
				<%= image_tag("carl_albert.png", alt: "Carl Albert Center", title: "Carl Albert Center", style: "max-width: 450px") %>
				<p><br>The Carl Albert Congressional Research and Studies Center, founded in 1979 by the Oklahoma State Regents for Higher Education and the University of Oklahoma Board of Regents, is a bipartisan institution dedicated to enhancing representative democracy through academic research, education, and public service. Serving as a living tribute to Carl Albert, a distinguished Oklahoman, University of Oklahoma graduate, Rhodes Scholar, and the 46th Speaker of the U.S. House of Representatives, the Center embodies his legacy of leadership and achievement. Its Archives features Oklahoma's most extensive collection of political and congressional documents, encompassing the papers of 61 former members of Congress, as well as those of 25 notable political figures, staffers, and journalists. Additionally, the Center holds the United States' largest archive of political campaign commercials, giving it a distinct position in preserving American political history.</p>
			</li>
			<br>
			<li>
				<%= image_tag("Dirksen.png", alt: "The Dirksen Congressional Center", title: "The Dirksen Congressional Center", style: "max-width: 300px") %>
				<p><br>The nonpartisan, nonprofit Dirksen Congressional Center promotes research and scholarship to advance the public understanding of the U.S. Congress, its people and its policies. Located in Pekin, Illinois, it holds the papers of its namesake, 1964 Civil Rights Act architect U.S. Sen. Everett Dirksen, as well as those of House Minority Leader Bob Michel; U.S. Rep. and Transportation Secretary Ray LaHood; U.S. Rep. Cheri Bustos; U.S. Rep. Rodney Davis; U.S. Rep. Adam Kinzinger; and Time magazine congressional correspondent Neil MacNeil.</p>
			</li>
			<br>
			<li>
				<%= image_tag("uhmanoa.jpg", alt: "University of Hawaii at Manoa Library", title: "University of Hawaii at Manoa Library", style: "max-width: 450px") %>
				<p><br>The Hawaiʻi Congressional Papers Collection (HCPC), in the Archives & Manuscripts Department of the University of Hawaiʻi at Mānoa Library, comprises the papers of Hawaiʻiʻs members of Congress from statehood in 1959 to the present. These include the papers of Senator Daniel K. Inouye, Senator Hiram L. Fong, Senator Spark M. Matsunaga, Senator Daniel K. Akaka, Representative Thomas P. Gill, Representative Ed Case, Representative Patricia F. Saiki, and Representative Neil Abercrombie. Small collections of papers and memorabilia from Senator Oren E. Long, Representative Patsy Mink, Representative K. Mark Takai, and Representative Tulsi Gabbard are also housed in the collection.</p>
				<p><br>Within the collections, areas of strength include statehood, agriculture, the Vietnam War, Watergate, the Iran-Contra affair, health, redress for Japanese Americans incarcerated during WWII, the military in Hawaiʻi and the Pacific, and the relationship between Native Hawaiians and the federal government.</p>
			</li>
			<li>
				<%= image_tag("Russell.png", alt: "Richard B. Russell Library for Political Research and Studies", title: "Richard B. Russell Library for Political Research and Studies", style: "max-width: 450px") %><br>
				<p><br>Established in 1974, the Richard B. Russell Library for Political Research and Studies, is Georgia’s premier archive dedicated to documenting politics and public policy from 1900 to the present. Renowned for its extensive collection of modern congressional office records, the Russell Library’s holdings of over 600 collections and nearly 2,000 oral histories documenting the perspectives of grassroots activists, elected officials, professional associations, and journalists highlight the diversity of people, events, and ideas shaping the political landscape at the local, state, and national level. The Russell Library also collaborates with the Georgia Disability History Alliance to document the modern disability rights movement as well as the Georgia Association of Latino Elected Officials (GALEO) to preserve Georgia’s Latino and Hispanic history.</p>
			</li>
		</ul>				
	</div>	
</div>
