<%# Ruby Page Variables %>
<% identifier = @document[:id] %>
<% description = @document[:description_tesim] %>
<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
<% content_for(:head) { render_link_rel_alternates } -%>

<%# HTML Content for the catalog view pages. %>
<div id="content" class="col-lg-9 col-md-8 show-document">

  <div class="row">
    <div class="sharethis-inline-share-buttons"></div>
    <%= render 'previous_next_doc' %>
  </div>



  <% if @document[:dc_type_tesim]&.first == "Image" || @document[:dc_type_tesim]&.first == "Collection" || @document[:dc_type_tesim]&.first == "StillImage"%>
    <%= render 'image' %>
  <% elsif @document[:dc_type_tesim]&.first == "Text" %>
    <%= render 'pdf' %>
  <% elsif @document[:dc_type_tesim]&.first == "Sound" %>
    <%= render 'audio' %>
  <% elsif @document[:dc_type_tesim]&.first == "Moving Image" || @document[:dc_type_tesim]&.first == "MovingImage"%>
    <%= render 'video' %>
    
  <% elsif @document[:dc_type_tesim]&.first == "Interactive Resource" || @document[:dc_type_tesim]&.first == "InteractiveResource" %>
  <%= render 'interactive' %>


  <% end %>

  <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
      <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
  <% end %>

</div>

<div id="sidebar" class="col-lg-3 col-md-4">
   <%= render_document_sidebar_partial %>
   <div id="csl-citation">
      <h4>Chicago citation style</h4>
      <p><%= ChicagoCitationService.format(document: @document, original_url: request.original_url) %></p>
      <br />
      <p>
        <strong>Note:</strong>
        These citations are programmatically generated and may be incomplete.
      </p>
   </div>
</div>
