<!-- Website Tab Bar -->
<div id="site-navbar" class="sticky-header">
  <div class="tbwrap">
  <div class="sticky-header-search tabBar">
          <a id="search-toggle">
              <%= image_tag("search.svg", alt: "Search Expand", id: "search-toggle1") %>
              <%= image_tag("x.svg", alt: "Search Close", id:
              "search-toggle2") %>
          </a>
          <%= render_search_bar if controller.class == CatalogController  %>
      </div>
      <div class="sticky-header-nav tabBar">
          <span id="menu-toggle" style="pointer-events: none; opacity: 0.5;">
              <%= image_tag("menu.svg", alt: "Menu Expand", id: "menu-toggle1") %>
              <%= image_tag("x.svg", alt: "Menu Close", id: "menu-toggle2") %>
          </span>
          <ul id="sticky-header-nav-menu" role="navigation">
              <li><a href="/"></i>Home</a></li>
              <li class="has-dropdown">
                <a href="/about" class="dropdown-toggle"></i>About</a>
                <ul class="dropdown-menu">
                    <li><a href="/partners"></i>Partners</a></li>
                    <li><a href="/policies"></i>Policies</a></li>
                </ul>
              </li>
              <li><a href="/contribute"></i>Contribute</a></li>
              <li><a href="https://give.wvu.edu/congress-archives-project"></i>Donate</a></li>
              <li><a href="/educationalresources"></i>Educational Resources</a></li>
          </ul>
      </div>
      <div class="sticky-header-top tabBar">
          <a href="#top">
              <%= image_tag("top.svg", alt: "Back to Top") %>
          </a>
      </div>
      <div class="sticky-header-filter tabBar">
          <a id="facet-toggle">
              <%= image_tag("filter.svg", alt: "Filter Search Expand", id:
              "filter-toggle1") %>
              <%= image_tag("x.svg", alt: "Close Filter", id:
              "filter-toggle2") %>
          </a>
          <div class="sticky-header-filter-sidebar">
          </div>
      </div>
  </div>
</div>