<div class="container">
  <h2>Validate Import File</h2>

  <%= form_with(url: validate_path, local: true, multipart: true) do |form| %>
    <div class="form-group">
      <%= form.label :csv_file, "Upload CSV" %>
      <%= form.file_field :csv_file, accept: ".csv" %>
      <div>
        <%= form.check_box :background_job?, id: 'checkbox' %>
        <%= form.label :background_job, "Run as Background Job and email results to " %>
        <%= form.email_field :mail_to, placeholder: "Enter your email", id: 'mail_to' %>
      </div>
      <%= form.submit "Upload & Validate", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
